@CHARSET "ISO-8859-1";
/**
* Feuille de style de l'application Morpion en ligne
*/
body {
font-family: arial, verdana, sans-serif;
font-size: 12px;
background-color:#cccccc;
}
#jeu {
border: 1px dotted black;
margin: auto;
padding: 5px;
width: 300px;
text-align: center;
background-color:#ffffff;
}
#aide {
border: 1px dashed black;
margin: auto;
width: 300px;
padding: 5px;
background-color:#ffffff;
}
#tableMorpion td {
text-align: center;
border: 1px solid blue;
width: 50px;
height: 50px;
}
#tableMorpion {
margin: auto;
}
#suivi {
margin: auto;
}
#resultat {
background-color: #eeeeee;
}
.x {
background-image:url(img/croix.png);
background-size: 25px 25px;
background-repeat: no-repeat;
background-position: center;
}
.o {
background-image:url(img/rond.png);
background-size: 25px 25px;
background-repeat: no-repeat;
background-position: center;
}